.book-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
}

.title,
.author {
  flex: 3;
}

.del-button {
  flex: 1;
}
