.book-wrapper {
  margin: 1rem 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 10.6rem;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.left-container {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category {
  margin-bottom: 0.3rem;
  width: 100%;
  opacity: 0.5;
  font-family: var(--monserrat);
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.author {
  width: 100%;
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.title {
  width: 100%;
  font-family: var(--roboto);
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

button:disabled {
  color: #90c3ef;
}

.button-group {
  width: 50%;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.com-button,
.del-button,
.edit-button {
  flex: 1;
  margin-right: 0.3rem;
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.com-button {
  text-align: left;
}

.del-button {
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
}

.middle-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-progress {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.percentage {
  width: 100%;
  font-family: var(--monserrat);
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.text-complete {
  width: 100%;
  opacity: 0.5;
  font-family: var(--monserrat);
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.right-container {
  width: 30%;
  padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-left: solid 1px #e8e8e8;
}

.current-chapter {
  width: 100%;
  margin-bottom: 0.36rem;
  opacity: 0.5;
  font-family: var(--roboto);
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter {
  width: 100%;
  font-family: var(--roboto);
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.progress-button {
  width: 60%;
  margin-top: 1rem;
  height: 2.063rem;
  text-transform: uppercase;
  font-family: var(--roboto);
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
  color: #fff;
  border-radius: 3px;
  background-color: #0290ff;
}
